* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #799c40;
    --secondary-color: #4c6226;
    --header-text-c: white;
    --subheader-text-c: #9d6841;
    --header-font: "Dosis", sans-serif;
    --button-font: "Concert One", sans-serif;
    --business-title-font: "Poppins", sans-serif;
    --business-text-font: "Halant", serif;
}
header {
    display: grid;
    grid-template-columns: 150px 100px auto;
    color: var(--header-text-c);
    background-color: var(--primary-color);
    height: 145px;
    width: 100%;
}
#logo {
    align-self: center;
    padding: 10px;
}
#logo img {
    box-shadow: rgba(55, 38, 38, 0.24) 0px 3px 8px;
}

header h1 {
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: var(--header-font);
    font-size: 1.3rem;
}

#menuButton {
    font-size: 3rem;
    background: none;
    border: none;
    color: var(--header-text-c);
    cursor: pointer;
    text-align: right;
    padding: .25rem 2vw;
    align-self:start;
}
#menuButton::before {
    content: "☰"
}
#menuButton.open::before {
    content: "x"
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s ease-out;
    background-color: var(--secondary-color);
    width: 100vw;
    list-style-type: none;
    z-index: 100;
}
nav ul {
    overflow: hidden;
}
nav.open {
    grid-template-rows: 1fr;
    background-color: var(--secondary-color);
    width: 100vw;
}

ul.menuLinks li a {
    display: block;
    text-decoration: none;
    color: var(--header-text-c);
    font-size: 1.5rem;
    font-family: var(--business-title-font);
    font-weight: 600;
    padding-left: 1rem;
}
ul.menuLinks li a:hover {
    background-color:#6b8e2d;
}

#card-heading {
    display: grid;
}

#partners {
    grid-row: 1/2;
    grid-column: 1/3;
    padding: 10px;
    color: var(--secondary-color);
    font-family: var(--header-font);
}

#list-view, #grid-view {
    width: 50px;
    grid-row: 2/3;
    height: 50px;
    border-radius: 7px;
    border-color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 10px;
    color: var(--secondary-color);
    background-color: var(--header-text-c);
}
#grid-view {
    justify-self: end;
    margin-right: 5px;
}
#list-view {
    margin-left: 5px;
}
#grid-view.selected, #list-view.selected {
    background-color: #c1f370;
    transition-duration: .4s;
}

#business-cards {
    margin: 0 auto;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background-color: var(--header-text-c);
}
#business-cards.list-view {
    display: block;
}

.card {
    width: 280px;
    border: solid 1px var(--secondary-color);
    padding: 20px;
    margin: 20px;
    justify-self: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.card h2 {
    padding: 10px;
    font-family: var(--business-title-font);
    font-weight: 600;
}

.card p {
    padding: 5px;
}

.car p, .card a {
    font-family: var(--business-text-font);
}

#pickleball {
    width: 230px;
    height: 80px;
}
#murray-rec {
    height: 65px;
    width: 200px;
}

#netflix, #cinemark, #bni, #sony, #pizza {
    width: 200px;
    height: 130px;
}

table {
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
table tbody tr td {
    padding: 20px;
    font-family: var(--business-text-font);
}
.member-Gold {
    background-color: rgb(253, 234, 123);
} 
.member-Silver {
    background-color: rgb(236, 235, 235);
}

footer {
    background-color: var(--primary-color);
    color: var(--header-text-c);
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
}
footer p {
    margin: 8px;
}