@media only screen and (min-width: 1000px) {
    header {
        display: grid;
        grid-template-columns: 140px 400px 1fr;
        color: var(--header-text-c); 
        background-color: var(--primary-color); 
    }
    #logo {
        padding: 10px;
    }
    #logo img {
        box-shadow: rgba(55, 38, 38, 0.24) 0px 3px 8px;
        
    }
    header h1 {
        align-self: center;
        grid-column: 2/3;
        grid-row: 1/2;
        font-family: var(--header-font);
        font-size: 2rem;
    }
    #menuButton {
        display: none;
    }
    #animateMe, #animateMe.open {
        display: flex;
        justify-content: space-around;
        background-color: var(--primary-color);
        width: auto;
        height: 140px;
    }

    ul.menuLinks {
        list-style-type: none;
        display: flex;
        align-self: center;
        gap: 4vw;
    }
    
    ul.menuLinks li a:hover {
        color: #c1f370;
        background-color: var(--primary-color);
    }
    .wayfinding, .wayfinding:hover {
        background-color: var(--secondary-color)!important;
        padding: 10px;
        border-radius: 7px;
    }
    main {
        display: grid;
        grid-template-columns: 35vw 1fr;
    }

    #application-header, form {
        grid-column: 1/2;

    }

    form {
        display: grid;
        width: 100%;
    }

    form label {
        justify-self: center;
        margin: 0;
        margin-bottom: 10px; 
        
    }

    form input[type=radio]{
        margin-left: 0;
        
    }

    form input[type=submit]{
        justify-self: center;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #memberships-header, #membership-cards {
        grid-column: 2/3;
    }

    #memberships-header {
        grid-row: 1/2;
        text-align: center;
        justify-self: center;
    }

    #membership-cards {
        width: 85%;
        margin-bottom: 10px;
        justify-self: center;
        margin-top: 5vh;
    }
    .membership-level #close-modal{
        left: 95%;
    }
    .membership-level {
        margin-top: 10%;
        width: 60vw;
    }
    .membership-level ul {
        font-size: 1.1rem;
        margin-left: 23vw;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        text-align: left;
    }
    #social-links {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    footer p {
        padding: 6px;
        margin-left: 50px;
    }

    #thank-you {
        grid-column: 1/3;
        margin-top: 10vh;
        height: 60vh;
        text-align: center;
    }
    #thank-you p {
        margin: 0;
    }
}