* {
  margin: 0;
  padding: 0;
}
:root {
  --dark-text: #63585E;
  --light-text: white;
  --headers: #C4E7D4;
  --buttons: #7F6191;
  --background: #F3F4FA;
  --nav: #084B83;
  --header-font: "Barlow Condensed", sans-serif;
  --text-font: "Bree Serif", serif;
}
body {
  background-color: var(--background)
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 480px;
  margin: 0 auto;
  background-color: var(--headers)
}

h1 {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 3rem;
}
#header-img {
  text-align: end;
  padding: 10px;
}

#header-img img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100px;
}

h1, h2 {
  background-color: var(--headers);
  color: var(--dark-text);
  font-family: var(--header-font);
}

#menu {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 5px 10px;
  color: var(--dark-text);
  background-color: var(--headers);
  border: none;
}

#menu::before {
  content: '☰'
}
#menu.show::before{
  content: 'X'
}
nav {
  display: flex;
  font-family: var(--headerfont);
  font-size: 1.5em;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: var(--dark-text);
  display: none;
  text-align: left;
  margin-left: 10vw;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.show a {
    display: block;
    z-index: 1;
}

a:hover {
  background-color: #e1efe7;
}

nav a, p {
  font-family: var(--text-font);
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#cwork-box, #place-box, #certificate-box {
  text-align: center;
  margin:0 auto;
  width: 400px;
}
#cwork-box {
  height: 20vh;

}
#cwork-box h2 {
  margin-top: 20px;
} 

#cwork-box ul {
  width: 300px;
  margin: 0 auto;
}

#cwork-box li {
  color: var(--dark-text);
  margin: 10px;
}

#place-box {
  height: 41vh;
}

#place-img {
  text-align: center;
}
#place-img img {
  margin-top: 20px;
  width: 200px;
}

#certificate-box {
  height: 53vh;
}
#filter-buttons {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(181, 179, 179);
}
button {
  width: 100px;
  color: var(--light-text);
  background-color: var(--nav);
  padding: 2px;
  border: solid var(--nav);
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

#courses {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#courses p{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-top: 13px;
  width: 300px;
}
#courses span {
  font-family: var(--text-font);
  color: var(--dark-text);
  padding-top: 5px;
}
.completed {
  color: var(--light-text);
  background-color: var(--buttons);
  font-weight: bold;
  border: 2px solid var(--buttons);
}
.not-completed {
  color: var(--dark-text);
  background-color: rgb(221, 218, 218);
  border: 2px solid rgb(196, 196, 196);
  font-weight:bold;
}



footer {
  background: var(--headers);
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 480px;
  color: var(--dark-text);
}
